@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 242, 242, 242;
  --background-start-rgb: 27, 28, 50;
  --background-end-rgb: 27, 28, 50;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-end-rgb));
}
